@use "sass:math";
$rail-size: 96px;
$drawer-size: 280px;

.m3-navigation-drawer-labels > app-m3-label {
  width: calc(var(--nav-drawer-width) - 28px);
  margin-left: 12px;
}

$rail-label-padding: 8px;
.m3-navigation-rail-labels {
  > * + * {
    margin-top: 12px;
  }

  > app-m3-label {
    width: calc(var(--nav-drawer-width) - #{2 * $rail-label-padding});
    margin-left: #{$rail-label-padding};
  }
}

mat-drawer-container {
  width: 100%;
  height: 100%;

  mat-drawer {
    width: var(--nav-drawer-width);
    transition: width 500ms var(--md-sys-motion-easing-emphasized);
    background-color: var(
      --md-sys-color-surface3
    ); // non compliant, but works better
    height: 100%;
    --nav-margin: 24px;
    --nav-grid-rows: auto 48px 0fr auto 1fr;

    &.mat-drawer-side {
      border-radius: unset;
    }

    &.divide {
      --mat-sidenav-container-divider-color: var(--mat-divider-color);
    }

    &.open {
      --nav-margin: 4px;
      --nav-grid-rows: auto 24px 0fr auto 1fr !important;

      .m3-menu-button {
        margin-left: 18px;
      }
    }

    &.center {
      --nav-grid-rows: auto 48px 1fr auto 1fr;
    }

    &.end {
      --nav-grid-rows: auto 48px 1fr auto 0fr;
    }

    > ::ng-deep .mat-drawer-inner-container {
      display: grid;
      grid-template-rows: var(--nav-grid-rows);
      height: calc(100% - 2 * var(--nav-margin));
      margin: var(--nav-margin) 0;
      overflow-x: hidden;
      transition:
        margin 500ms var(--md-sys-motion-easing-emphasized),
        height 500ms var(--md-sys-motion-easing-emphasized),
        grid-template-rows 500ms var(--md-sys-motion-easing-emphasized),
        --scrollbar-color 500ms var(--md-sys-motion-easing-emphasized);
    }
  }

  &.none {
    --nav-drawer-width: 0;
  }

  &.rail {
    --nav-drawer-width: #{$rail-size};
  }

  &.drawer {
    --nav-drawer-width: #{$drawer-size};
  }

  &.mat-drawer-container-explicit-backdrop > ::ng-deep mat-drawer-content,
  &.none > ::ng-deep mat-drawer-content {
    margin-left: 0 !important;
  }

  > ::ng-deep mat-drawer-content {
    margin-left: var(--nav-drawer-width) !important;
    height: 100%;
  }
}

.m3-nav-drawer-header {
  grid-row: 1;
  display: flex;
  flex-direction: column;
}

.m3-nav-drawer-content {
  grid-row: 4;
  display: flex;
}

@keyframes fadeLeftAnim {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-100%);
  }
}

.fadeLeft {
  animation: fadeLeftAnim 500ms var(--md-sys-motion-easing-emphasized);
}

@keyframes fadeRightAnim {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0px);
  }
}

.fadeRight {
  animation: fadeRightAnim 500ms var(--md-sys-motion-easing-emphasized);
}

.m3-menu-button {
  margin: 10px;
  margin-left: #{math.div($rail-size - 36px, 2)};
}

.m3-nav-fab-button {
  margin-left: 12px;
  transition:
    width 500ms var(--md-sys-motion-easing-emphasized),
    height 500ms var(--md-sys-motion-easing-emphasized);
  overflow: hidden;
  height: 0;

  &.appeared {
    height: var(--mdc-extended-fab-container-height);
  }

  &.mdc-fab--extended {
    width: 336px;

    > ::ng-deep .material-icons {
      left: 20px;
    }
  }

  > ::ng-deep .material-icons {
    transition: left 500ms var(--md-sys-motion-easing-emphasized);
    position: absolute;
    left: 16px;
  }

  ::ng-deep .mdc-button__label {
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 24px;
  }
}

.m3-nav-section-title {
  margin-left: 28px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
}

.m3-nav-divider {
  border-top-color: var(--md-sys-color-outline);
  margin: 4px 28px 0 28px;
  opacity: 0;
  transition: opacity 200ms var(--md-sys-motion-easing-emphasized);

  &.open {
    opacity: 1;
  }
}

.m3-nav-headline {
  width: 100%;
  display: flex;
  align-items: center;
}

.m3-nav-forward {
  right: 36px;
  left: unset !important;
}
