@use "../../../style/m3-layout" as m3-layout;

:host {
  // https://m3.material.io/foundations/layout/applying-layout/large-extra-large#067c15dd-1f3c-42d4-8505-0b183a0bf7e7
  //margin-right: var(--m3-sys-layout-spacing-pane);
  //

  //@include m3-layout.compact {
  //  margin-left: var(--m3-sys-layout-spacing-pane);
  //  & + .m3-supporting-pane {
  //
  //  }
  //}
}

:host-context(.type-flexible) {
  max-width: 1200px;
  flex-grow: 1;
}

:host-context(.type-fixed) {
  width: var(--m3-comp-supporting-pane-fixed-width);
  flex-shrink: 0;
}

:host-context(.priority-secondary) {
  display: none;
  @include m3-layout.explicit-range(expanded, extra-large) {
    display: block;
  }
}

:host-context(.priority-tertiary) {
  display: none;
  @include m3-layout.explicit-range(extra-large, extra-large) {
    display: block;
  }
}
