<h1 mat-dialog-title>
  {{ data.title | translate }}
</h1>

<mat-dialog-content>
  <mat-progress-bar
    mode="determinate"
    [value]="dialogStepper.progress"></mat-progress-bar>
  <mat-stepper
    (selectionChange)="onChange($event)"
    orientation="vertical"
    [linear]="true"
    [selectedIndex]="currentStepperIndex"
    #stepper>
    <!-- Question back stepper -->
    @if (showBackOption) {
      <mat-step
        state="back"
        [optional]="true"
        [completed]="false">
        <ng-template
          matStepLabel
          *ngIf="offsetIndex > 1; else firstStepLabel">
          {{
            "multi-level-dialog.range"
              | translate: { start: 1, end: offsetIndex }
          }}
        </ng-template>
        <ng-template
          matStepLabel
          #firstStepLabel>
          {{ "multi-level-dialog.single" | translate: { number: 1 } }}
        </ng-template>
      </mat-step>
    }
    <!-- Dialog steps -->
    @for (
      elem of currentElements;
      track elem;
      let isFirst = $first;
      let i = $index
    ) {
      @if (elem.group) {
        <mat-step
          [stepControl]="elem.group"
          [completed]="
            (i + offsetIndex <= dialogStepper.highestIndex || defaultTouched) &&
            currentStepperIndex !== i + +showBackOption
          "
          [editable]="true">
          <form [formGroup]="elem.group">
            <ng-template matStepLabel>
              {{ elem.title | translate }}
            </ng-template>
            @for (input of elem.config; track input) {
              <ng-container
                *ngComponentOutlet="
                  input.component;
                  injector: input.injector
                "></ng-container>
            }
            <div class="button-container">
              @if (!isFirst || showBackOption) {
                <button
                  mat-stroked-button
                  matStepperPrevious>
                  {{ "multi-level-dialog.previous" | translate }}
                </button>
                <span style="flex: 1"></span>
              }
              <button
                mat-stroked-button
                (click)="next(i + offsetIndex)">
                {{ "multi-level-dialog.next" | translate }}
              </button>
            </div>
          </form>
        </mat-step>
      }
    }
    <!-- Question forward stepper -->
    @if (showForwardOption) {
      <mat-step
        state="forward"
        [completed]="false">
        <ng-template
          matStepLabel
          *ngIf="
            dialogStepper.elements.length > offsetIndex + windowSize + 1;
            else lastStepLabel
          ">
          {{
            "multi-level-dialog.range"
              | translate
                : {
                    start: offsetIndex + windowSize + 1,
                    end: dialogStepper.elements.length
                  }
          }}
        </ng-template>
        <ng-template
          matStepLabel
          #lastStepLabel>
          {{
            "multi-level-dialog.single"
              | translate: { number: dialogStepper.elements.length }
          }}
        </ng-template>
      </mat-step>
    } @else {
      <!-- Summary -->
      <mat-step
        state="summary"
        [editable]="false"
        [completed]="false">
        <ng-template matStepLabel>
          {{ "multi-level-dialog.complete" | translate }}
        </ng-template>
        <p>{{ "multi-level-dialog.complete-text" | translate }}</p>
        <div class="button-container">
          <button
            mat-stroked-button
            matStepperPrevious>
            {{ "multi-level-dialog.previous" | translate }}
          </button>
          <span style="flex: 1"></span>
          <button
            class="error-button"
            mat-stroked-button
            (click)="reset()">
            {{ "multi-level-dialog.complete-reset" | translate }}
          </button>
          <button
            class="primary-button"
            mat-stroked-button
            (click)="submit()">
            {{ "multi-level-dialog.confirm" | translate }}
            @if (sending) {
              <mat-icon>
                <app-mat-spinner-overlay
                  [diameter]="20"
                  [strokeWidth]="2"
                  [color]="'primary'"></app-mat-spinner-overlay>
              </mat-icon>
            }
          </button>
        </div>
      </mat-step>
    }

    <!-- Icons -->
    <ng-template matStepperIcon="summary">
      <mat-icon>done_all</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="back">
      <mat-icon>arrow_back</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="forward">
      <mat-icon>arrow_forward</mat-icon>
    </ng-template>
    <ng-template
      matStepperIcon="number"
      let-index="index">
      {{ index + offsetIndex + +!showBackOption }}
    </ng-template>
  </mat-stepper>
</mat-dialog-content>

<mat-dialog-actions>
  @if (currentQuestion?.stepHelp) {
    <button
      mat-stroked-button
      class="secondary-button"
      (click)="openHelp()">
      <mat-icon>question_mark</mat-icon>
      {{ "explanation.label" | translate }}
    </button>
  }
  <span style="flex: 1"></span>
  <button
    mat-button
    class="secondary-button"
    mat-dialog-close>
    {{ "multi-level-dialog.cancel" | translate }}
  </button>
</mat-dialog-actions>
