<span matDialogTitle>{{ "user-bonus-token.header" | translate }}</span>
<mat-dialog-content>
  <div *ngIf="bonusTokensMixin.length >= 1">
    <div
      class="column"
      *ngFor="let bonusToken of bonusTokensMixin; let i = index"
      (click)="navToComment(i)">
      <span tabindex="1">{{ bonusToken.token }}</span>
      <span class="roomName">
        {{ "user-bonus-token.roomName-lq" | translate }}{{ bonusToken.roomName
        }}{{ "user-bonus-token.roomName-rq" | translate }}
      </span>
    </div>

    <div class="column">
      <form class="example-form">
        <mat-form-field
          *ngIf="rooms.length > 1"
          class="example-full-width">
          <mat-label class="placeholder">
            {{ "user-bonus-token.choose-session" | translate }}
          </mat-label>
          <input
            type="text"
            matInput
            [matAutocomplete]="auto" />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              *ngFor="let room of rooms"
              [value]="room.name"
              (onSelectionChange)="setCurrentRoom($event, room)">
              {{ "user-bonus-token.roomName-lq" | translate }}{{ room.name
              }}{{ "user-bonus-token.roomName-rq" | translate }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <button
          mat-flat-button
          class="mailto"
          (click)="redeemStars(true)">
          <mat-icon class="material-icons-outlined">email</mat-icon>
          {{ "user-bonus-token.redeem-tokens" | translate }}
        </button>
        <button
          mat-flat-button
          class="copyClipboard"
          (click)="redeemStars(false)">
          <mat-icon class="material-icons-outlined">copy</mat-icon>
          {{ "user-bonus-token.redeem-tokens-clipboard" | translate }}
        </button>
      </form>
    </div>
  </div>
  <div *ngIf="bonusTokens.length === 0">
    <span tabindex="0">{{ "user-bonus-token.no-bonus" | translate }}</span>
  </div>
</mat-dialog-content>
<mat-dialog-actions [align]="'end'">
  <button mat-button>
    {{ "close" }}
  </button>
  <button
    mat-flat-button
    (click)="openHelp()">
    <mat-icon>question_mark</mat-icon>
    {{ "explanation.label" | translate }}
  </button>
</mat-dialog-actions>
