h2 {
  text-align: center;
}

.flex-container {
  display: flex;
  align-items: center;
}

button {
  font-size: 1em;
  width: 100%;
  background-color: transparent;
  color: var(--primary);
  outline: var(--primary) solid 2px;

  &:hover {
    background-color: var(--primary);
    color: var(--on-primary);
  }
}

mat-icon.interactive {
  opacity: 0.5;
  width: 1em;
  height: 1em;
  font-size: 3em;
  cursor: pointer;
  color: var(--md-sys-color-highlight-yellow);
  transition:
    transform 250ms ease,
    color 250ms ease;

  &.star_full {
    opacity: unset;
  }

  &.star_half {
    opacity: unset;
  }

  &:hover {
    transform: scale(1.666666667);
  }

  &.bounce {
    animation: starBounce 300ms ease-in-out;
  }
}

.star-preview {
  color: var(--md-sys-color-highlight-yellow);
  display: flex;
  align-items: center;
  font-size: 1em;
  width: 100%;
  justify-content: space-between;

  .star {
    font-size: 1.7em;
    width: 1em;
    height: 1em;
    color: var(--md-sys-color-highlight-yellow);
  }
}

@keyframes starBounce {
  33% {
    transform: scale(2);
  }
  66% {
    transform: scale(1.33333333);
  }
}
