<h2 mat-dialog-title>{{ "gptchat-info.title" | translate }}</h2>

<mat-dialog-content>
  <mat-accordion>
    @for (message of messageCodesFori18n; track message) {
      <mat-expansion-panel [ngClass]="message.severity">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>error</mat-icon>
            {{ message.key + "-title" | translate }}
          </mat-panel-title>
          <mat-panel-description></mat-panel-description>
        </mat-expansion-panel-header>
        <!-- TODO: <app-custom-markdown
          [data]="
            message.key + '-description' | translate
          "></app-custom-markdown> -->
      </mat-expansion-panel>
    }
  </mat-accordion>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-button
    class="secondary-button"
    mat-dialog-close>
    {{ "gptchat-info.cancel" | translate }}
  </button>
</mat-dialog-actions>
