<div class="card-wrapper">
  <div *ngIf="!isLoading && !room">
    {{ "room-page.room-not-found" | translate }}
  </div>
  <mat-card
    appearance="outlined"
    *ngIf="room">
    <mat-card-header>
      <mat-card-title>
        <h2>
          {{ "room-page.session-id-lq-x" | translate }}{{ room.name
          }}{{ "room-page.session-id-rq" | translate }}
        </h2>
      </mat-card-title>
      <mat-card-subtitle>
        <span class="room-short-id">
          {{ "room-page.session-id" | translate
          }}{{ "room-page.session-id-lq" | translate }}{{ room.shortId
          }}{{ "room-page.session-id-rq" | translate }}
        </span>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content *ngIf="room.description">
      <!-- <app-view-comment-data
        class="images"
        [currentData]="room.description"></app-view-comment-data> -->
    </mat-card-content>
    <mat-card-footer>
      <button
        id="question_answer-button"
        mat-icon-button
        [disableRipple]="true"
        routerLink="/participant/room/{{ room.shortId }}/comments"
        aria-labelledby="question_answer">
        <mat-icon
          matBadge="{{ commentCounter > 0 ? 'Q' + commentCounter : null }}"
          class="main-icon material-icons-outlined"
          [ngClass]="{ smallerIcon: isMobile() }"
          matBadgePosition="before">
          {{ room.conversationDepth === 0 ? "chat" : "forum" }}
        </mat-icon>
        <span
          matBadge="{{ 'A' + responseCounter }}"
          matBadgePosition="before"
          *ngIf="responseCounter > 0 && commentCounter > 0"
          [ngClass]="{ smallerIcon: isMobile() }"
          class="response-badge"></span>
        <div *ngIf="room?.mode === 'ARS'">
          <h3 *ngIf="room.conversationDepth === 0">
            {{ "room-page.create-comment" | translate }}
          </h3>
          <h3 *ngIf="room.conversationDepth !== 0">
            {{ "room-page.create-comment-and-answer" | translate }}
          </h3>
        </div>
        <div *ngIf="room?.mode === 'PLE'">
          <h3 *ngIf="room.conversationDepth === 0">
            {{ "room-page.ple.create-comment" | translate }}
          </h3>
          <h3 *ngIf="room.conversationDepth !== 0">
            {{ "room-page.ple.create-comment-and-answer" | translate }}
          </h3>
        </div>
      </button>
    </mat-card-footer>
  </mat-card>
</div>

<button
  id="live_announcer-button"
  tabIndex="-1"
  (click)="announce()"
  class="visually-hidden">
  {{ "room-page.live-announcer" | translate }}
</button>

<app-active-user
  *ngIf="room"
  [room]="room"></app-active-user>

<div class="visually-hidden">
  <div id="question_answer">
    {{ "room-page.a11y-question_answer" | translate }}
  </div>
</div>
