@use "sass:math";
@import "../../../../layout/layout-variables";

$responseShadowOff: math.ceil($responseShadowWidth + $responseShadowYOffset);

.main-container {
  width: 100%;
  max-width: 800px;

  &.marker {
    box-shadow:
      0 -#{$responseShadowOff} var(--background),
      -#{$responseShadowWidth} -#{$responseShadowYOffset} 0 #{$responseShadowWidth}
        var(--on-background),
      -#{$responseShadowWidth} #{$responseShadowWidth} 0 #{$responseShadowWidth}
        var(--on-background);
    border-radius: 0 0 $responseBorderRadius $responseBorderRadius;
  }
}

#sort-button {
  color: var(--secondary);
  transform: scale(2.5);
}

.timesort {
  color: var(--primary);
}

.timesort-reverse {
  color: var(--secondary);
}

.up {
  color: var(--green);
}

.down {
  color: var(--red);
}

.controversy {
  color: var(--primary);
}

.commented {
  color: var(--primary);
}

.response-container {
  display: flex;
  color: var(--on-background);
  margin: auto;
  margin-bottom: 30px;
  width: 100%;
  max-width: 800px;
  justify-content: flex-end;

  .responses {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - #{$responseLevelShift});
  }
}

.response-arrow-container {
  width: min-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  min-width: 1em;
  height: 320px;
  margin-right: 8px;

  .arrow {
    font-size: 1em;
    line-height: 1em;
  }

  .number {
    font-size: 0.5em;
    line-height: 1em;
    color: var(--red);
  }
}
