<mat-form-field floatLabel="always">
  <mat-label *ngIf="data.label">{{ data.label | translate }}</mat-label>
  <input
    [formControl]="data.control"
    matInput
    class="hidden-control" />
  <mat-radio-group [formControl]="data.control">
    <mat-radio-button
      *ngFor="let elem of data.options"
      [value]="elem.value">
      {{ elem.label | translate }}
    </mat-radio-button>
  </mat-radio-group>
  <mat-hint *ngIf="data.hint && !data.control.invalid">
    {{ data.hint | translate }}
  </mat-hint>
  <mat-error>
    @if (data.control.errors | keyvalue; as controlErrors) {
      @if (data.errorStates; as errorStrings) {
        @if (errorStrings[controlErrors[0].key]; as info) {
          {{ info | translate }}
        }
      }
    }
  </mat-error>
</mat-form-field>
