@use "sass:math";
@import "../../../../layout/layout-variables";

$responseShadowOff: math.ceil($responseShadowWidth + $responseShadowYOffset);

.fake-header {
  box-shadow:
    0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  width: 100%;
  position: fixed;
  left: 0;
  top: 5px;
  background-color: var(--background);
  color: var(--on-background);
  display: flex;
  align-items: center;

  button {
    margin: 0 0 0 10px;
    min-width: 0;
    border-radius: 5px;

    &:hover {
      outline: 2px solid var(--secondary);
    }

    mat-icon {
      font-size: 24px;
      line-height: 1em;
      width: 1em;
      height: 1em;
      margin: 0 10px 0 0;
    }
  }
}

.fab_add_comment {
  position: fixed;
  right: 20px;
  bottom: 65px;
  z-index: 1;
  background-color: var(--primary);
  color: var(--on-primary);
  transform: scale(1.4);
  transition: all 0.5s ease-in-out;
  min-width: unset;
  margin-top: unset;

  mat-icon {
    margin: 0;
  }

  &:hover {
    background-color: var(--background);
    color: var(--primary);
    outline: var(--primary) solid 2px;
  }
}

app-comment,
mat-card {
  width: 100%;
  max-width: 800px;
}

.answer {
  background-color: var(--primary-variant);
  color: var(--on-primary-variant);
  padding: 3% 3% 70px 3%;
  margin-bottom: 20px;
  box-sizing: border-box;
  font-size: 16px;
  hyphens: auto;
  overflow-wrap: break-word;
}

.answer a {
  color: var(--on-primary) !important;
  text-decoration: underline !important;
}

button {
  min-width: 95px;
  margin-top: 2%;
}

.save {
  background-color: transparent;
  color: var(--primary);
  outline: var(--primary) solid 2px;
  margin-right: 10px;

  &:hover {
    background-color: var(--primary);
    color: var(--on-primary);
  }
}

mat-icon {
  font-size: 18px;
  height: 18px;
  width: 18px;
  margin-right: 5px;
}

.border-answer {
  box-shadow:
    0 2px 1px -1px rgba(0, 0, 0, 0.2),
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    -8px 0 0 0 hotpink;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card {
  border-radius: 40px !important;
}

.main-container {
  width: 100%;
  max-width: 800px;

  box-shadow:
    0 -#{$responseShadowOff} var(--background),
    -#{$responseShadowWidth} -#{$responseShadowYOffset} 0 #{$responseShadowWidth}
      var(--on-background),
    -#{$responseShadowWidth} #{$responseShadowWidth} 0 #{$responseShadowWidth}
      var(--on-background);
  border-radius: 0 0 $responseBorderRadius $responseBorderRadius;

  > mat-card {
    width: calc(100% - 15px);
    margin-left: auto;
  }
}
