@use "@angular/material" as mat;

$purple-primary: mat.define-palette(mat.$purple-palette, 500);
$purple-accent: mat.define-palette(
  mat.$amber-palette,
  200
); //$mat-purple-gray, A200, A100, A400);

$purple-warn: mat.define-palette(mat.$red-palette, A100);

$purple-theme: mat.define-light-theme(
  (
    color: (
      primary: $purple-primary,
      accent: $purple-accent,
      warn: $purple-warn,
    ),
  )
);
