<!-- TODO Add string for title -->

<mat-dialog-content>
  <!-- TODO: <app-custom-markdown [data]="data"></app-custom-markdown> -->
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-button
    class="secondary-button"
    mat-dialog-close>
    {{ "explanation.close" | translate }}
  </button>
</mat-dialog-actions>
