:host {
  display: flex;
  justify-content: center;
  --mat-toolbar-container-background-color: var(--md-sys-color-surface3);
}

#footer-toolbar {
  justify-content: space-between;
  align-items: center;
}
